<html>

    <header>
    <title>RSVP</title>
    </header>
    <div class="main-container">
    <body>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" charset="utf-8" />
    <div class="navbar"></div>
    <div class="navbar a">
        <span>
            {% if session["user"] is defined %}
            <a href='/myaccount'>ACCOUNT</a>
            <a href='/favorites'>FAVORITES</a> 
            {% else %}
            <a href='/login'>LOG IN</a>
            {% endif %}
        </span>
        <a href='/aboutus'>ABOUT US</a>
        <a href='/services'>SERVICES</a> 
        <a href='/'>HOME</a>
        <img class="logo" src="static/images/RSVP-CAMPTON.png" alt="Logo" id="logo" style="height:auto;width:100px;right:90.28%;top:13.33%;bottom: 11.67%;padding-left: 25px;padding-top:10px;float:left">
            </div>
    </body>