{% include "header.html" %}
<img src="/static/images/wavetop.png" style="z-index:-1;position:fixed;left:666px;height:100%">
    {% if session["user"] is defined %}
    <div class="h1" style="width:50%;margin-top:20%;margin-left:47%;text-align:center;margin-bottom:5%">Hi, {{ session["user"]["first_name"] }}!</div>
    {% endif %}
        <div class="h2" style="width:50%;margin-top:26%;margin-left:47%;text-align:center;margin-bottom:5%;font-style: normal;font-family:'AvenirB'">What would you like to do?</div>
        <a href='/changepassword'><input type="button" style="margin-top:30%;width:30%;margin-left:57%" value="Change Password"></a><br>
        <a href='/favorites'><input type="button" style="margin-top:33%;width:30%;margin-left:57%" value="Favorites"></a>
        <a href='/logout'><div class="logout" style="margin-top:37.5%;width:27%;margin-left:57%;text-align:center">Log Out</div></a>
   <img src="/static/images/myaccount.png" style="margin-top:10%;width:50%;margin-left:5%">
{% include "footer.html" %}
